s/*                                                                          */
/* NOTICE:                                                                  */
/*    To support more than one-single FlexMenu server control per page     */
/*    the CSS files' name is used as a class and is prefixed to all of      */
/*    the selectors (without the path or extension).                        */
/*                                                                          */
/*    The server control will automatically wrap the entire FlexMenu        */
/*    within a div-tag, whose class-name will be derived from the filename. */
/*                                                                          */
/*    *** THESE MUST BE ENTIRELY IN LOWER CASE! ***                         */
/*    The server control will cast these filenames to lower before use!     */
/*                                                                          */
/*    Only the base ASCII character set is supported.                       */
/*                                                                          */
/*    Also, spaces and periods before the extension will be converted       */
/*    into underscores, as these are not permitted within the selector.     */
/*                                                                          */

.horizontal .ekflexmenu 
{
	/*padding: 10px 10px 10px 10px;*/
	padding: 0px 0px 0px 0px;
	/* DIV; wraps the entire menu */
	/* (the outer-most non-user container element) */
	position: relative;
    color: #FFF;
    width: 854px;
    font-size: 11px;
    font-family: Sans-Serif;
    white-space: nowrap;
}

.horizontal A
{
	text-decoration: none;
}

.horizontal .ekflexmenu_submenu,
.horizontal .ekflexmenu_submenu_hover,
.horizontal .ekflexmenu_submenu_parent,
.horizontal .ekflexmenu_submenu_parent_hover
{
	top: 0px;
	left: 0px;
	height: auto;
}

.horizontal UL
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 854px;
	background: #69696D;
}

.horizontal LI
{
	border-right: 1px solid #844d3f;
	float: left;
	display: inline;
	margin: 0px;
	width: 141px;
}

.horizontal ul li ul {
	font: italic 12px Times New Roman;
	font-weight: bold;
	margin-top: 7px;
	background: none;
	padding: 0 0 0 35px;
}

.horizontal ul li ul li {
	border: none;
	width: auto;
	margin: 0px 10px 0 10px;
	float: none;
}

/* Removes border on Our Clients */
#e9edebdfa_6_12 {
	border: none;
}

.horizontal .ekflexmenu_submenu_items 
{
	height:auto;
	margin-left: 0px;
}

.horizontal .ekflexmenu_menu_level_0 .ekflexmenu_submenu_items
{
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}
.horizontal .ekflexmenu_menu_level_1 .ekflexmenu_submenu_items
{
	position: absolute;
	top: 100%;
	float: none;
}

/* Hiding sub nav bar */
.horizontal .ekflexmenu_menu_level_1 ul {
		background: url(../images/nav_bg.jpg) repeat-x bottom;
		width: 819px;
		height: 30px;
		margin: 0;
}

/* Gives line height to sub nav */
.horizontal .ekflexmenu_menu_level_1 ul li {
	line-height: 2.2em;
}

.horizontal .ekflexmenu_menu_level_2 .ekflexmenu_submenu_items
{
	position: absolute;
	left: 100%;
	top: 0px;
}

.horizontal .ekflexmenu .ekflexmenu_submenu_items_hidden 
{
	display: none;
}

.horizontal .ekflexmenu_button
{
    display: block;
    padding: 5px 0px;
    color: #FFF;
	background: #69696D;
    text-align:center;
    width: 100%;
}
.horizontal .ekflexmenu_button_hover
{
    display: block;
    padding: 5px 0px;
    text-align:center;
    background: #69696D;
    color: #F68840;
    width: 100%;
}
.horizontal .ekflexmenu_button_selected {
	display: block;
	padding: 5px 0px;
	background: #69696D;
	color: #FDEEE3;
	text-align: center;
	width: 100%;
}
.horizontal .ekflexmenu_button_selected_hover
{
    display: block;
    padding: 5px 0px;
    background: #69696D;
    color: #F68840;
    text-align:center;
    width: 100%;
}

.horizontal img 
{
	border-width: 0px;
}

.horizontal a.ekflexmenu_link, 
.horizontal a.ekflexmenu_link:link, 
.horizontal a.ekflexmenu_link:visited {
    padding: 0px 0px;
    color: #5b1300;
    text-decoration: none;
    width: 100%;
    white-space: normal;
    text-align: center;
}
.horizontal a.ekflexmenu_link:hover, 
.horizontal a.ekflexmenu_link:active, 
.horizontal a.ekflexmenu_link:focus  {
    padding: 0px 0px;
    text-decoration: none;
	width: 100%;
	color: #dea076;
    white-space: normal;
    text-align: center;
}

.horizontal a.ekflexmenu_link_selected {
    padding: 0px 0px;
	width: 100%;
    white-space: normal;
	color: #dea076;
    text-align: center;
}
.horizontal a.ekflexmenu_link_selected:hover {
    padding: 0px 0px;
	width: 100%;
    white-space: normal;
    text-align: center;
}