/* Index Slider */

#controls
{
display: none;
}

#sliderBox
{
position: relative;
float: left;
width: 854px;
height: 460px;
}

#slider
{	
position: relative;
width: 854px;
height: 460px;
float: left;
overflow: hidden;
}	
	
#slider ul, #slider li
{
position: relative;
margin: 0;
padding: 0;
list-style: none;
}

#slider li
{ 
width: 854px;
height: 460px;
overflow: hidden; 
padding: 0;
}

#slider .slideContent
{ 
float: right;
padding: 0px 32px 15px 0; 
margin-top: 438px;
}

#slider .slideContentHead
{
padding: 0;
margin: 0 0 2px;
font: 20px/19px "Times New Roman",Times,serif;
color: #e3a422;
}

#slider .slideContentHead a
{
color: #e3a422;
text-decoration: none;
}

#slider .slideContentText
{
color: #fff;
margin: 0;
font-size: 12px;
font-family: arial;
}

#slider .slideContentText a
{
color: #fff;
text-decoration: none;
}

#slider .slideLink
{
width: 854px;
height: 460px;
display: block;
}

#slider .slideContentOpacity
{ 
position: relative;
width: 854px;
height: 114px;
top: 0px;
background-color: #270900;
opacity: 0.9;
filter: alpha(opacity=90);
-moz-opacity: 0.9;  
-khtml-opacity: 0.9; 
}

#slider li a
{
text-decoration: none;
outline: none;
}


#slider .indexSlide1
{
background: url(../images/one.jpg) no-repeat;
}

#slider .indexSlide2
{
background: url(../images/two.jpg) no-repeat;
}

#slider .indexSlide3
{
background: url(../images/three.jpg) no-repeat;
}

#slider .indexSlide4
{
background: url(../images/HomeSlide4.jpg) no-repeat;
}

#slider .indexSlide5
{
background: url(../images/HomeSlide5.jpg) no-repeat;
}

#slider .indexSlide6
{
background: url(../images/HomeSlide6.jpg) no-repeat;
}

#slider .indexSlide7
{
background: url(../images/HomeSlide7.jpg) no-repeat;
}
	
#prevBtn, #nextBtn
{
position: absolute;
display: block;
width: 35px;
height: 40px;
top: 250px;
text-indent:-8000px;
overflow: hidden
}

#nextBtn
{ 
right: 0;
}
														
#prevBtn a, #nextBtn a
{  
display: block;
width: 35px;
height: 40px;
opacity: 0.7;
/*background: url(../images/ad_prevSlider.png) 0 5px no-repeat;	*/
}

#nextBtn a
{ 
/*background: url(../images/ad_nextSlider.png) 5px 5px no-repeat; */
}

#prevBtn a:hover, #nextBtn a:hover
{
opacity: 0.9;
}

#prevBtn a:active
{
background-position: 0 -30px;
}

#nextBtn a:active
{
background-position: 5px -30px;
}

/* End Index Slider */
