/*___________________________________________________________________________________CONTAINER*/
#container {
	width: 1024px;
	margin: auto;
}

/*___________________________________________________________________________________LEFT COLUMN*/
#left_column {
	width: 117px;
	position: absolute;
	padding: 0 25px 0 25px;
	top: 0;
	left: 0;
    background-color: #425866;
}

#left_column img {
	margin: 28px 0 25px 12px;
}

#left_column h1 {
	color: #fff;
	margin: 0 0 10px 0;
	font-size: 1.2em;
}

#left_column p {
	color: #FFF;
	font-size: 1.2em;
	line-height: 1.5em;
}

/*___________________________________________________________________________________RIGHT COLUMN*/
#right_column {
	float: right;
	width: 854px;
	border-left: 170px solid #425866;
}

#right_column .top {
	height: 24px;
	color: #5a1400;
	font-size: 1.15em;
	padding: 3px 10px 0 0;
	background: #FFF;
}

#right_column .top img {
	margin: 0 0 0 5px
}

/* Nav */
#right_column .nav {
	/*height: 64px;
	background: url(../images/nav_bg.jpg) repeat-x bottom;*/
	clear: both;
}

/* Container */
#right_column .content_container {
	background: url(../images/content_bg.jpg) repeat-x;
	min-height: 400px;
}

#right_column .content_container p {
	line-height: 1.8em;
	font-size: 1.1em;
	color: #5a1400;
}

#right_column .content_container h1 {
	margin-bottom: 15px;
}

#right_column .content_container p.disclaimer {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.3em;
}

#right_column .content_container .sub-nav p.disclaimer {
    font-size: 0.75em;
    }

/* Sidebar */
#right_column .sidebar {
	width: 208px;
	float: right;
	height: 480px;
	background: #69696D;
	padding: 35px;
}

#right_column .sidebar-long {
	height: 420px;
}

#right_column .sidebar p {
	color: #bfbebe;
	font-size: 1.3em;
}

#right_column .sidebar h1 {
	color: #79bde8;
	background: url(../images/right-column_sidebar_h1.png) 0 7px no-repeat;
	padding-left: 10px;
}

/* Gallery Sidebar */
#right_column .gallery_sidebar {
	width: 180px;
	margin: 10px 0 0 20px;
	font-size: 1.1em;
}

/* Padding */
#right_column .padding {
	padding: 20px 40px 0 40px;
}

#right_column .padding ul {
	float: left;
	color: #919195;
	margin-right: 25px;
}

#right_column .padding h2 {
	font-size: 1.2em;
	color: #5a5a5a;
	font-style: italic;
	margin-bottom: 15px;
}

/* Description on Solutions page */
#right_column p.description {
	font-size: 1em;
	width: 341px;
}

/* Solutions h1 graphics */
#right_column h1.fire-retardant {
	background: url(../images/h1_fire-retardant.png) no-repeat;
	padding: 10px 0 0 42px;
	color: #b5121b;
	height: 31px;
}

#right_column h1.energy-efficient {
	background: url(../images/h1_energy-efficient.png) no-repeat;
	padding: 7px 0 0 42px;
	color: #0080b2;
	height: 31px;
}

#right_column h1.green {
	background: url(../images/h1_green.png) no-repeat;
	padding: 7px 0 0 42px;
	color: #c3cf21;
	height: 31px;
}

#right_column h1.anti-microbial {
	background: url(../images/h1_anti-microbial.png) no-repeat;
	padding: 6px 0 0 42px;
	color: #008a5f;
	height: 31px;
}

#right_column h1.graphic-shades {
	background: url(../images/h1_graphic-shades.png) no-repeat;
	padding: 5px 0 0 42px;
	color: #415a68;
	height: 31px;
}

#right_column h1.motorization {
	background: url(../images/h1_motorization.png) no-repeat;
	padding: 7px 0 0 47px;
	color: #91a5a6;
	height: 31px;
}

#right_column h1.kid-friendly {
	background: url(../images/h1_kid-friendly.png) no-repeat;
	padding: 8px 0 0 47px;
	color: #f7a11a;
	height: 31px;
}

#right_column h1.installation {
	background: url(../images/h1_installation.png) no-repeat;
	padding: 0 0 0 47px;
	color: #7d6a55;
	height: 31px;
}

/*___________________________________________________________________________________FOOTER*/
#footer {
	float: left;
	font-size: .9em;
	line-height: 2em;	
}

#footer .industries li a:hover, #footer .products li a:hover {
	color: #f68840;
}

/* Industries */
#footer .industries {
	width: 169px;
	height: 163px;
	float: left;
	background: #babcbe;
	position: relative;
	/*padding: 10px 20px 0 20px;*/
	color: #f68840;
}

#footer .industries ul.absolute {
	position: absolute;
	top: 30px;
	left: 90px;	
}

#footer .industries li a {
	color: #5a1400;
}

/* Products */
#footer .products {
	width: 89px;
	height: 160px;
	float: left;
	clear: right;
	background: #69696D;
	padding: 3px 20px 0 20px;
	color: #fff;
	font-size: 8px;
   
}
	#footer .products li:first-child {
		font-weight: bold;
        font-size: 10px;
	}
#footer .products li {
		line-height: 1.7em;
	}

#footer .products li.word_wrap {
	line-height: 1.1em;
	margin: 2px 0 4px 0;
}

	#footer .products li a {
		color: #FFF;
	}

#footer .wybmof {
	width: 226px;
	height: 163px;
	float: left;
	clear: right;
}

/* Form */
	#footer .form {
		width: 480px;
		height: 125px;
		float: left;
		clear: right;
		background: #babcbe;
		color: #FFF;
		padding: 38px 10px 0 10px;
		font-size: 1.2em;
		/*font-size: 1.1em;*/
		background: url(../images/form_bg.jpg) no-repeat;
        background-color: #6A696E;
	}

#footer .form em {
	font-size: .9em;
}

#footer .form .submit {
	color: #f68840;
	font: italic .9em Georgia, Times, Helvetica, sans-serif; 
	float: right;
   
}

#footer .form .required {
	float: right;
	font-size: .65em;
	height: 5px;
	color: #5b1300;
}

#footer .form .required_fields {
	float: right;
	font-size: .8em;
	font-style: italic;
}

#footer .form table tr td {
	/*padding: 7px 7px 0 0;*/
    padding: 5px 5px 0 0;
}

#footer .form table tr td.no_padding {
	padding-right: 0;
}

#footer .form input {
	/*height: 18px;*/
    height: 14px;
	vertical-align: middle;
}

#footer .form .left_fields {
	width: 230px;
	float: left;
}

/* Bottom */
#footer .bottom {
	width: 1024px;
	height: 24px;
	float: left;
	color: #f68840;
	padding: 8px 0 0 0;
	border-top: 1px solid #c18c8f;
	background: #FFF;
}

#footer .bottom li {
	float: left;
	padding: 0px 20px 0 20px;
}

	#footer .bottom li a {
		color: #B94F09;
	}

	#footer .bottom .copyright {
		color: #57585C;
		float: right;
		font-size: 10px;
		margin-right: 40px;
	}

/* eNewsletter */

/* ---eNewsletter text--- */
#ctl00_ContentPlaceHolder1_ENewsletter1_lblText
{
    font-size: 1.5em;
    position: relative;
    left: 20px;
    top: 10px;
}

/* ---eNewsletter text field--- */
#ctl00_ContentPlaceHolder1_ENewsletter1_txtEmailAddress
{
    position: relative;
    top: 20px;
    left: 20px;
    border: 1px solid #000;
    height: 25px;
    width: 250px;
    padding: 5px;
    font-size: 1.5em;
}

/* ---eNewsletter button--- */
#ctl00_ContentPlaceHolder1_ENewsletter1_btnSubmitEmail
{
    position: relative;
    top: 20px;
    left: 25px;
    height: 25px;
    width: 72px;
    font-size: 1em;
    
}

/* ---eNewsletter errors--- */
#ctl00_ContentPlaceHolder1_ENewsletter1_lblOutput
{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 1.2em;
}

#ctl00_ContentPlaceHolder1_ENewsletter1_RegularExpressionValidator1
{
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 1.2em;
}

/*___________________________________________________________________________________MISC*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}


/* Colors */
.orange {
	color: #f68840;
}

.white {
	color: #FFF;
}

.gray {
	color: #babcbe;
}

.red {
	color: #5a1400;
}

.form-text {
    color: white;
    background-color: #616565;
}

.shortURL {
	display: none;
}

.triangle {
	background: url(../images/triangle.png) no-repeat;
	padding-left: 10px;
	font-weight: 700;
}

.relative {
	position: relative;
}

.thank-you {
	font-size: 1.5em;
}

/* Centers the copy on about us pages */
.center {
	margin: auto;
	width: 470px;
}

/* Centers the copy on about us pages */
.center-industries {
	margin: auto;
	width: 347px;
}

/* Adds padding on facebook header stuff so its not covered in 1024x768 */
.fb-padding {
	margin-right: 37px;
}

/* Adds margin for pages with sub nav */
.sub-nav {
	margin-top: 32px;
}

/* Blog */
div.blogEntries {
	width: 540px;
	border: 0;
	margin: 0 0 0 20px;
	color: #5a1400;
	line-height: 2em;
}

div.entry {
	margin: 0 0 15px 0;
}

div.entry .inlineImage {
	float: left;
	padding: 0 15px 0px 0;
}

div.entryBody {
	font-size: 1.1em;
	padding: 0;
}

h3.entryTitle {
	border: 0;
	background: none;
	margin: 0 0 10px 0;
	font: italic 1.4em Georgia, Times, Helvetica, sans-serif; 
	line-height: 1.5em;
}

div.blogEntries a {
	color: #f68840;
}

/* Blog Sidebar */
div.blogSidebar {
	background: #c9ddeb;
	padding: 15px;
}

div.blogSidebar a {
	color: #5b1300;
	text-decoration: underline;
	font-size: 1.1em;
}

div.blogSidebar h4 {
	background: none;
	font: italic 1.3em Georgia, Times, Helvetica, sans-serif; 
	line-height: 1.5em;
	color: #5b1300;
	margin: 15px 0 10px 0;
}

tr.monthRow {
	background: #FFF;
}

.blogRecentPosts li {
	margin-bottom: 10px;
}

/* Social Bar */
.socialBar {
	margin: 0px 0 10px 0px;
	border-bottom: 1px solid #ccc;
	padding: 15px 0 5px 20px;
}

.ekSocialBar li img {
	vertical-align: top;
}

tr.locationsOperated label {
    line-height: 1em;
    position: relative;
    top: -3px;
}

tr.locationsOperated span.required {
    position: relative;
    left: 63px;
}

tr.locationsOperated input {
    position: relative;
    left: 64px;
}

div.left_fields table tr {
    height: 15px;
}

