/*___________________________________________________________________________________RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, input,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style-type: none;
	text-decoration: none;
}

/* Fixes horizontal scroll bar issue in ie7 */
html {
	overflow-x: hidden;
}
  
body {
	font: 62.5% Arial, Verdana, Helvetica, sans-serif; 
	margin: auto;
	line-height: 2em;
	background: #e7e8e9;
 }

h1 {
	font: italic 1.4em Georgia, Times, Helvetica, sans-serif;
	color: #A6260C;
	line-height: 1.5em;
}

sup {
	font-size: .8em;
	vertical-align: top;
	line-height: normal;
}