﻿ /* ModalPopup */
.modalBackground
{
	background-color: #000;
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.modalPopup 
{
    background-color:#fff; 
    border-width:3px; 
    border-style:solid; 
    border-color:#CCC; 
    padding:3px; 
    width:300px; 
}


#gray_bg{
	width: 100%;
	height: 100%;
    position: absolute;
    background-color: #000;
	filter: alpha(opacity=90);
	opacity: 0.9;
	top: 0;
	left: 0;
}

p
{
margin: 0 0 12px;
line-height: normal;
}

#formReqModBox
{
width: 300px;
background-color: #fff;
overflow: auto;
text-align: center;
margin: 300px auto;

	filter: alpha(opacity=90);
	opacity: .9;

}

#formReqModBox h1
{
color: #79bde9;
font-style: italic;
font-size: 2em;
padding: 20px 20px 10px 20px;
}

#formReqModBox p
{
font-size: 1.3em;
line-height: 1.5em;
color: #5b1300;
padding: 0 20px 20px 20px;
}


#footer .form #formReqModBox em
{
font-size: inherit;
}

#ctl00_ContentPlaceHolder1_InHomeRequest_formInHomeClose, #ctl00_InHomeRequest_formInHomeClose
{
float: right;
z-index: 50;
}

#formReqModHead, #formReqModHead1, #formReqModHead2
{
width: 300px;
background-color: #656565;
}
.formReqModContent
{
width: 840px;
height: 405px;
margin: 0;
padding: 14px 30px 10px;
overflow: hidden;
background-color: #e5e5e5;
font: normal 12px arial, helvetica, sans-serif;
}


#formReqModColL
{
width: 495px;
float: left;
border-right: 1px solid gray;
}

#formReqModColR
{
width: 314px;
padding-left: 30px;
float: left;
}

#formReqModHead h1
{
margin: 0;
padding-top: 7px;
font-size: 31px;
color: #fff;
}

.formReqModName, #ctl00_ContentPlaceHolder1_InHomeRequest_lblName, #ctl00_InHomeRequest_lblName
{
font-size: 31px;
color: #e3a220;
}

.formReqModApp
{
margin-bottom: 4px;
color: #056691;
font-size: 17px;
font-weight: bold;
letter-spacing: 1.1px;
}


#formReqModlabelAddress, #formReqModlabelCity
{
display: block;
width: 51px;
margin-right: 10px;
text-align: right;
float: left;
}

#formReqModlabelWhatType, #formReqModlabelBestTime, #formReqModlabelHowDid, #formReqModlabelAddInfo
{
display: block;
margin-bottom: 8px;
}

#formReqModlabelAddress
{
margin-bottom: 12px;
}

#formReqModStateProv
{
margin: 0 4px;
}

#formTxtAddress, #formTxtCity, #formTxtState, #ddAboutUs, #fmtxtAdditionInfo
{
border: 1px solid #908e8f;
}

#formTxtAddress
{
width: 420px;
}

#fmtxtAdditionInfo
{
width: 313px;
height: 95px;
margin: 0 0 2px;
overflow: hidden;
resize: none;
}

.formReqModCheckColWhat
{
width: 130px;
padding-left: 25px;
float: left;
}

#fmchkGarageCabinets, #fmchkGarageFlooring, #fmchkCloset, #fmchkHomeOffice, 
#fmchkMurphyBed, #fmchkLaundryRoom, #fmchkPantry, #fmchkOther
{
margin: 0 6px 8px 0;
padding: 0;
}

#fmchkWeekdaysMorning, #fmchkWeekdaysAfternoon, #fmchkWeekdaysEvening, 
#fmchkWeekendMorning, #fmchkWeekendAfternoon, #fmchkWeekendEvening 
{
margin: 0 6px 10px 25px;
padding: 0;
}

.weekDaysEnds
{
display: block;
width: 60px;
margin-bottom: 6px;
padding-left: 25px;
float: left;
}

.char300
{
display: block;
margin-bottom: 20px;
text-align: right;
font-size: 10px;
color: #6e6e6e;
}

#forReqModFooter
{
padding: 12px 16px 0 0;
text-align: right;
}

.forReqModCopy
{
font-size: 10px;
color: #6e6e6e;
}

#btnOk
{
float: right;
clear: both;
}

#formReqModlabelAddress, #formReqModlabelCity, #formReqModStateProv, #formReqModlabelBestTime, #formReqModlabelHowDid
#formReqModlabelAddInfo, #formReqModlabelHowDid, #formReqModlabelAddInfo
{
font-weight: bold;
}

.clear
{
clear: both;
}

#modalPopup #ctl00_CustomMenu_btnpopupClose,  .modalPopup #ctl00_ContentPlaceHolder1_GalleryCorp_btnpopupClose
{
float: right;
/*margin-bottom: 12px;*/
z-index: 50;
}

#modalPopup .modalPopup
{
background-color: #fff;
padding: 10px 3px 10px 10px;
width: 350px;
}
 
#modalPopup .findLocHeader
{
clear: both;
display: block;
}

#modalPopup #ctl00_CustomMenu_ZipLocator2_lblCall, .modalPopup #ctl00_ContentPlaceHolder1_GalleryCorp_ZipLocator1_lblCall
{
display: none;
}

#modalPopup .findLocHeader
{
line-height: normal;
}

#zipLocPopupCloseDiv 
{
    overflow:hidden;
    background-color:#656565;
}
